@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
  color: rgb(230, 230, 230);
  background-color: rgb(44, 44, 44);
  font-family: 'Abel', sans-serif;
}

a {
  color: rgb(241 235 167);
}
